In [10]:
import pandas as pd

In [11]:
# Loading the dataset
data_raw = pd.read_csv('/content/train .csv')

In [16]:

# dropping the unnamed column from the dataset
data_raw.drop(data_raw.columns[0], axis=1, inplace=True)

In [17]:
print("Missing values in each column before filling:")
print(data_raw.isnull().sum())

Missing values in each column before filling:
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [18]:
for column in data_raw.columns:
    if data_raw[column].isnull().sum() > 0:
        if data_raw[column].dtype in ['float64', 'int64']:
            data_raw[column].fillna(data_raw[column].mean(), inplace=True)
        else:
            data_raw[column].fillna(data_raw[column].mode()[0], inplace=True)

In [19]:
print("\nMissing values in each column after filling:")
print(data_raw.isnull().sum())

Missing values in each column after filling:
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [20]:
print("Updated DataFrame after filling missing values:")
data_raw.head()

Updated DataFrame after filling missing values:

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50

In [21]:
data_raw.to_csv('/content/data_clean.csv', index=False)
print("Data saved to /content/data_clean.csv")

Data saved to /content/data_clean.csv