In [10]:
import pandas as pd

In [22]:
data = pd.read_csv('/content/data_clean.csv')

In [31]:
encoded_data = pd.get_dummies(data[['Fuel_Type', 'Transmission']], drop_first=True)
encoded_data = encoded_data.astype(int)
final_data = pd.concat([data, encoded_data], axis=1)
final_data.drop(['Fuel_Type', 'Transmission'], axis=1, inplace=True)

In [32]:
print("Encoded DataFrame:")
final_data.head()

Encoded DataFrame:

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,1,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,0,0,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,0,0,1

In [33]:
final_data.to_csv('/content/results/data_encoded.csv', index=False)

print("Data has been encoded and saved to '/content/results/data_encoded.csv'")

Data has been encoded and saved to '/content/results/data_encoded.csv'